<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale = 1">
		<meta http-equiv="X-UA-Compatible"content="ie=edge">
		<title>Usuarios</title>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'img/poli.jpg' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}">	
	</head>
	<header>
		<nav>
			<a href="#">Inicio</a>
		</nav>
		<section>
			<h1 align="center"  height="430px" width="100%" style="color:#fff">Usuario {{ altausuario6.Nombre }}</h1>
		</section>
		<div>
			<h3> Identificacion:  {{ altausuario6.identificacion }}</h3>
			<h3> Nombre:  {{ altausuario6.Nombre }} </h3>
			<h3> Apellidos:  {{ altausuario6.Apellidos }} </h3>
			<h3> Puesto :  {{ altausuario6.Puesto }} </h3>
			<h3> Horario:  {{ altausuario6.Horario }} </h3>
			<h3> Descanso:  {{ altausuario6.Descanso }} </h3>
			<h3> Perfiles:  {{ altausuario6.Perfiles }} </h3>
			<a href="/altadeusuario/edit/{{ altausuario6.id }}">Editar Usuario</a>
			<a href="/altadeusuario/delete/{{ altausuario6.id }}">Eliminar Usuario</a>
		</div>
		<div class ="wave" style="height: 150px; overflow: hidden;" >
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path d="M0.00,49.98 C143.06,160.36 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
			</svg>
		</div>
	</header>
	<body>
		
	</body>
	<footer  style="background-color:#3e3e3e;">
		<div>
			<div >
				<h4 height="430px" width="100%" style="color:#fff">Trabajo Terminal</h4>
			</div>
		
		</div>
		<h2 height="430px" width="100%" style="color:#fff">&copy; Instituto Politécnico Nacional</h2>
	</footer>
</html>