<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor Almacen</title>
</head>
<body>
    <ul>
        <a href="{% url 'accounts:list' %}"><li>Lista de usuarios</li></a>
        <a href="{% url 'accounts:create' %}"><li>Crear un usuario</li></a>
    </ul>
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>